.header h1 {
  font-size: 1.8em;
}

.marketing h3 {
  font-size: 1.5em; 
}

#about-us h3 {
  font-size: 1.3em;
}

#about-us h2,
#contact-us h2 {
  color: #33cc33;
  font-size: 1.8em;
}

@media (min-width: 320px) {
  .about-us-img {
    max-width: 90%;
  }
}

@media (min-width: 375px) {
  .about-us-img {
    max-width: 85%;
  }
}

@media (min-width: 425px) {
  .about-us-img {
    max-width: 65%;
  }
}

@media (min-width: 576px) {
  .about-us-img {
    max-width: 55%;
  }
}

@media (min-width: 768px) {
  .about-us-img {
    max-width: 50%;
  }
}

@media (min-width: 992px) {
  .about-us-img {
    max-width: 100%;
  }
}
